.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../assets/location-pin.png);
}

.marker-bubble {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px 10px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 8px;
}
